<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <h2>You have just updated a figure:</h2> 
 <h3><%=@figure.name%></h3>

 <h3>Below is a list of all the titles associated with <%=@figure.name%>:</h3>
 <% @figure.titles.each do |title| %>
 		<%= title.name %><br>
 <% end %>

 <h3>Below is a list of all Landmarks associated with this figure</h3>

 <% @figure.landmarks.each do |landmark| %>
 	<%= landmark.name %><br>
 <% end %>

</body>
</html>